

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;

}

.header {
  grid-area: header;
  background-image: b;
}

.main {
  grid-area: main;
}
.featured-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
.article-cards {
  min-height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card {
  min-height: 35rem;
  max-width: 23rem;
}
 
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
 
#img1, #img2, #img3 {
  height: 50vw;
}

.footer {
  grid-area: footer;
}
.footer__content {
  width: 100%;
  padding-block: 1.5rem;
  font-weight: bold;
}
.hero__buttons {
  margin-top: 3.5rem;
  display: flex;
  gap: 1.5rem;
}
 
.read-more-btn {
  background: transparent;
  border: 3px solid darkslategray;
  color: darkslategray;
  font-weight: 600;
}
.container {
  position: relative;
  text-align: left;
  
  }
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p{
  font-size:200%;text-align:left
}  
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html {width: 90%; background-color: #04AA6D;}
.css {width: 90%; background-color: #2196F3;}
.js {width: 90%; background-color: #f44336;}
